.InPreparation {
  color: brown;
}

.Staged {
  color: red;
}

.Staged {
  color: blue;
}

.Maintenance {
  color: blueviolet;
}

.Rented {
  color: coral;
}

.Returned {
  color: darkgreen;
}

.Disposed {
  color: indigo;
}
