<div class="container mt-5">

  <div class="d-flex justify-content-between align-items-center">
    <button pButton type="button" label="Logout" (click)="Logout()"></button>
    <div  *ngIf="isPing">
       <img src="./assets/img/ping.png"/>
    </div>
  </div>

  <div class="mt-3" *ngIf="customer">
    <p class="m-0"><strong> Customer Name </strong>: {{customer.userName}}</p>
    <p><strong> Customer Address  </strong>: {{customer.address}}</p>
  </div>

  <div *ngIf="customer">
    <p-table [value]="customer.vehicles"
             [paginator]="true" [rows]="6" styleClass="prime-slider-override mt-5 mb-5">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col style="width:150px">
          <col style="width:150px">
          <col style="width:150px">
          <col style="width:150px">

        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">VIN</th>
          <th class="text-center">Number</th>
          <th class="text-center">Status</th>
          <th class="text-center">Last Ping</th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-Vehicle>
        <tr>

          <td class="text-center">{{Vehicle.vin}}</td>
          <td class="text-center">{{Vehicle.number}}</td>
          <td class="text-center {{Vehicle.status}}" style="font-weight:500">{{Vehicle.status}}</td>
          <td class="text-center"><strong *ngIf="checkDate(Vehicle.lastPing)">{{Vehicle.lastPing  | date: 'short'}}</strong></td>

        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="2" class="text-center">No records found</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
